<% @events.each do |event| %>
    <p>
      <%= link_to event.title, event_path(event.event_id) %>
      <%= event.start_at.strftime("%m/%d(%a) %H:%M") %>〜<%= event.end_at.strftime("%m/%d(%a) %H:%M") %>
    </p>
<% end %>