<p>こんにちは <%= @email %>!</p>

<p>jack管理botのjackunです．</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>あなたのアカウントのメールアドレスが <%= @resource.unconfirmed_email %> に変更しようとしているので，連絡いたします．</p>
<% else %>
  <p>あなたのアカウントのメールアドレスが <%= @resource.email %> に変更しようとしているので，連絡いたします．</p>
<% end %>
