<p>こんにちは <%= @resource.email %>!</p>

<p>jack管理botのjackunです．</p>
<p>誰かが，あなたのアカウントのパスワードを変更しようとしています．本人が変更しようとしている場合は，下のリンクから変更してください．</p>

<p><%= link_to 'はい，本人がパスワードを変更します', edit_member_password_url(reset_password_token: @token) %></p>

<p>もし，あなたがパスワードを変更しようとしていない場合は．このメールは無視してください．</p>
<p>パスワードの変更は，メールアドレスに付与されたリンクからしか変更できません．ご安心ください．</p>
