<div class="main products-index">
  <div class="container">
    <% @products.each do |product| %>
      <div class="product-index-item">
        <%= link_to(product.name,"/products/#{product.id}") %>
      </div>
    <% end %>
  </div>
</div>